# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.vercel

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files

!.env.example

node_modules/
.nuxt/
.output/
.env
.DS_Store
